In [1]:
# import pandas as pd
# data = pd.read_excel(r'C:\Users\Tanmay Gaba\Downloads\report1676352877048.xlsx')

In [2]:
# pd.read_csv('ml-100k/u.item', sep='|', names=m_cols , encoding='latin-1')

In [3]:
import pandas as pd
data = pd.read_csv(r'C:\Users\Tanmay Gaba\Downloads\report1680329948807.csv',encoding='latin-1')

In [4]:
# data.drop(data.columns[[18, 19, 20,22,23]], axis = 1, inplace = True)

In [5]:
data.head(2)

,Date/Time Opened,Ticket Number,Edited By,Field / Event,Old Value,New Value,Edit Date,Ticket Owner,Ticket Origin
0,"01/01/2023, 9:53 am",819951,Ankit,Ticket Owner,VOC Queue (Truebil),Ankit,"01/01/2023, 9:53 am",Vikas Gupta,VOC Queue (Truebil)
1,"20/01/2023, 6:14 pm",865408,Vikas Gupta,Dispositions,Repair in process at WS,Part ordered,"21/01/2023, 6:39 pm",Vikas Gupta,VOC Queue (Truebil)

In [6]:
data = data.fillna('')

In [7]:
data.shape

(35098, 9)

In [8]:
data.columns

Index(['Date/Time Opened', 'Ticket Number', 'Edited By', 'Field / Event',
       'Old Value', 'New Value', 'Edit Date', 'Ticket Owner', 'Ticket Origin'],
      dtype='object')

In [9]:
data['Date/Time Opened'].dtype

dtype('O')

In [10]:
data.head(3)

,Date/Time Opened,Ticket Number,Edited By,Field / Event,Old Value,New Value,Edit Date,Ticket Owner,Ticket Origin
0,"01/01/2023, 9:53 am",819951,Ankit,Ticket Owner,VOC Queue (Truebil),Ankit,"01/01/2023, 9:53 am",Vikas Gupta,VOC Queue (Truebil)
1,"20/01/2023, 6:14 pm",865408,Vikas Gupta,Dispositions,Repair in process at WS,Part ordered,"21/01/2023, 6:39 pm",Vikas Gupta,VOC Queue (Truebil)
2,"07/02/2023, 2:19 pm",914660,Jagan Sabavath,Dispositions,Pending with Refurb Team,Customer visit scheduled and WS_assigned,"07/02/2023, 3:15 pm",Jagan Sabavath,VOC Queue (Truebil)

In [11]:
# pd.notnull(data['Date/Time Closed'])

In [12]:
data['Ticket Open Date/time'] = pd.to_datetime(data['Date/Time Opened'], dayfirst = True)
data['Ticket Edit Date/time'] = pd.to_datetime(data['Edit Date'], dayfirst = True)

In [13]:
data['Ticket Open date'] = data['Ticket Open Date/time'].dt.date

In [14]:
# data['Ticket Close date'] = data['Ticket Close Date/time'].dt.date

In [15]:
# data['Ticket Close Date/time'].dtype

In [16]:
data.head(2)

,Date/Time Opened,Ticket Number,Edited By,Field / Event,Old Value,New Value,Edit Date,Ticket Owner,Ticket Origin,Ticket Open Date/time,Ticket Edit Date/time,Ticket Open date
0,"01/01/2023, 9:53 am",819951,Ankit,Ticket Owner,VOC Queue (Truebil),Ankit,"01/01/2023, 9:53 am",Vikas Gupta,VOC Queue (Truebil),2023-01-01 09:53:00,2023-01-01 09:53:00,2023-01-01
1,"20/01/2023, 6:14 pm",865408,Vikas Gupta,Dispositions,Repair in process at WS,Part ordered,"21/01/2023, 6:39 pm",Vikas Gupta,VOC Queue (Truebil),2023-01-20 18:14:00,2023-01-21 18:39:00,2023-01-20

In [17]:
# data['Ticket Open Month'] = 0
# data['Ticket Open Year'] = 0
# data['Ticket Close Month'] = 0
# data['Ticket Close Year'] = 0

In [18]:
# data = data.fillna('')

In [19]:
# for i in range(len(data['Ticket Open date'])):
#     if(i != 'NaT'):
#         data['Ticket Open Month'][i] = data['Ticket Open date'][i].strftime("%m")
#         data['Ticket Open Year'][i] = data['Ticket Open date'][i].strftime("%Y")

In [20]:
data

,Date/Time Opened,Ticket Number,Edited By,Field / Event,Old Value,New Value,Edit Date,Ticket Owner,Ticket Origin,Ticket Open Date/time,Ticket Edit Date/time,Ticket Open date
0,"01/01/2023, 9:53 am",819951,Ankit,Ticket Owner,VOC Queue (Truebil),Ankit,"01/01/2023, 9:53 am",Vikas Gupta,VOC Queue (Truebil),2023-01-01 09:53:00,2023-01-01 09:53:00,2023-01-01
1,"20/01/2023, 6:14 pm",865408,Vikas Gupta,Dispositions,Repair in process at WS,Part ordered,"21/01/2023, 6:39 pm",Vikas Gupta,VOC Queue (Truebil),2023-01-20 18:14:00,2023-01-21 18:39:00,2023-01-20
2,"07/02/2023, 2:19 pm",914660,Jagan Sabavath,Dispositions,Pending with Refurb Team,Customer visit scheduled and WS_assigned,"07/02/2023, 3:15 pm",Jagan Sabavath,VOC Queue (Truebil),2023-02-07 14:19:00,2023-02-07 15:15:00,2023-02-07
3,"01/01/2023, 9:53 am",819951,Mohit Sharma,Created.,,,"01/01/2023, 9:53 am",Vikas Gupta,VOC Queue (Truebil),2023-01-01 09:53:00,2023-01-01 09:53:00,2023-01-01
4,"20/01/2023, 7:27 pm",865734,Shweta Kushwaha,Ticket Owner,VOC Queue (Truebil),Shweta Kushwaha,"20/01/2023, 7:27 pm",Faisal Ansari,VOC Queue (Truebil),2023-01-20 19:27:00,2023-01-20 19:27:00,2023-01-20
...,...,...,...,...,...,...,...,...,...,...,...,...
35093,"01/04/2023, 11:34 am",1065775,Ved Parkash,Dispositions,,Pending with Refurb Team,"01/04/2023, 11:41 am",Mithen Rai,webinbound_truebil,2023-04-01 11:34:00,2023-04-01 11:41:00,2023-04-01
35094,"01/04/2023, 11:36 am",1065785,Mohit Sharma,Created.,,,"01/04/2023, 11:36 am",Satyam Singh,Phone,2023-04-01 11:36:00,2023-04-01 11:36:00,2023-04-01
35095,"01/04/2023, 11:36 am",1065785,Deepak Kantli,Ticket Owner,Mohit Sharma,Deepak Kantli,"01/04/2023, 11:37 am",Satyam Singh,Phone,2023-04-01 11:36:00,2023-04-01 11:37:00,2023-04-01
35096,"01/04/2023, 11:36 am",1065785,Deepak Kantli,Dispositions,,Pending with Refurb Team,"01/04/2023, 11:39 am",Satyam Singh,Phone,2023-04-01 11:36:00,2023-04-01 11:39:00,2023-04-01
35097,"01/04/2023, 11:36 am",1065785,Deepak Kantli,Ticket Owner,Deepak Kantli,Satyam Singh,"01/04/2023, 11:41 am",Satyam Singh,Phone,2023-04-01 11:36:00,2023-04-01 11:41:00,2023-04-01

In [21]:
# data['Ticket Close date'].value_counts()

In [22]:
# pd.to_datetime(data['Ticket Close date'])

In [23]:
# df = data.loc[data['Ticket Close date'].isnull()]

In [24]:
# df.shape

In [25]:
# data[pd.notnull(data['Ticket Close date'])]

In [26]:
# data['Ticket Close date'].dtype

In [27]:
# import pandas as pd
# import numpy as np
# # Iterate over the 'date' column and extract the month values
# month_list = []
# for date_str in data['Ticket Close date']:
#     if pd.isna(date_str):
#         month_list.append(np.nan)
#     else:
#         dt_obj = pd.to_datetime(date_str, errors='coerce')
#         if dt_obj is pd.NaT:
#             month_list.append(np.nan)
#         else:
#             month_list.append(dt_obj.month)
# data['Ticket Close Month'] = month_list

In [28]:
# data['Ticket Close Month'] = data['Ticket Close Month'].abs().astype(int)

In [29]:
# type(month_list)

In [30]:
# import pandas as pd
# import numpy as np
# # Iterate over the 'date' column and extract the month values
# year_list = []
# for date_str in data['Ticket Close date']:
#     if pd.isna(date_str):
#         year_list.append(np.nan)
#     else:
#         dt_obj = pd.to_datetime(date_str, errors='coerce')
#         if dt_obj is pd.NaT:
#             year_list.append(np.nan)
#         else:
#             year_list.append(dt_obj.year)
# data['Ticket Close Year'] = year_list

In [31]:
data

,Date/Time Opened,Ticket Number,Edited By,Field / Event,Old Value,New Value,Edit Date,Ticket Owner,Ticket Origin,Ticket Open Date/time,Ticket Edit Date/time,Ticket Open date
0,"01/01/2023, 9:53 am",819951,Ankit,Ticket Owner,VOC Queue (Truebil),Ankit,"01/01/2023, 9:53 am",Vikas Gupta,VOC Queue (Truebil),2023-01-01 09:53:00,2023-01-01 09:53:00,2023-01-01
1,"20/01/2023, 6:14 pm",865408,Vikas Gupta,Dispositions,Repair in process at WS,Part ordered,"21/01/2023, 6:39 pm",Vikas Gupta,VOC Queue (Truebil),2023-01-20 18:14:00,2023-01-21 18:39:00,2023-01-20
2,"07/02/2023, 2:19 pm",914660,Jagan Sabavath,Dispositions,Pending with Refurb Team,Customer visit scheduled and WS_assigned,"07/02/2023, 3:15 pm",Jagan Sabavath,VOC Queue (Truebil),2023-02-07 14:19:00,2023-02-07 15:15:00,2023-02-07
3,"01/01/2023, 9:53 am",819951,Mohit Sharma,Created.,,,"01/01/2023, 9:53 am",Vikas Gupta,VOC Queue (Truebil),2023-01-01 09:53:00,2023-01-01 09:53:00,2023-01-01
4,"20/01/2023, 7:27 pm",865734,Shweta Kushwaha,Ticket Owner,VOC Queue (Truebil),Shweta Kushwaha,"20/01/2023, 7:27 pm",Faisal Ansari,VOC Queue (Truebil),2023-01-20 19:27:00,2023-01-20 19:27:00,2023-01-20
...,...,...,...,...,...,...,...,...,...,...,...,...
35093,"01/04/2023, 11:34 am",1065775,Ved Parkash,Dispositions,,Pending with Refurb Team,"01/04/2023, 11:41 am",Mithen Rai,webinbound_truebil,2023-04-01 11:34:00,2023-04-01 11:41:00,2023-04-01
35094,"01/04/2023, 11:36 am",1065785,Mohit Sharma,Created.,,,"01/04/2023, 11:36 am",Satyam Singh,Phone,2023-04-01 11:36:00,2023-04-01 11:36:00,2023-04-01
35095,"01/04/2023, 11:36 am",1065785,Deepak Kantli,Ticket Owner,Mohit Sharma,Deepak Kantli,"01/04/2023, 11:37 am",Satyam Singh,Phone,2023-04-01 11:36:00,2023-04-01 11:37:00,2023-04-01
35096,"01/04/2023, 11:36 am",1065785,Deepak Kantli,Dispositions,,Pending with Refurb Team,"01/04/2023, 11:39 am",Satyam Singh,Phone,2023-04-01 11:36:00,2023-04-01 11:39:00,2023-04-01
35097,"01/04/2023, 11:36 am",1065785,Deepak Kantli,Ticket Owner,Deepak Kantli,Satyam Singh,"01/04/2023, 11:41 am",Satyam Singh,Phone,2023-04-01 11:36:00,2023-04-01 11:41:00,2023-04-01

In [32]:
# data['Car Delivery Date/Time'] = pd.to_datetime(data['Car Delivery Date'], dayfirst = True)

In [33]:
# data['Car Delivery Date_Fin'] = data['Car Delivery Date/Time'].dt.date

In [34]:
# data['Car Delivery Date_Final'] = data['Car Delivery Date/time'].dt.date

In [35]:
# for i in range(len(data['Car Delivery Date'])):
#     data['Car Delivery Month'][i] = data['Car Delivery Date'][i].strftime("%m")
#     data['Car Delivery Year'][i] = data['Car Delivery Date'][i].strftime("%Y")

In [36]:
data.head(3)

,Date/Time Opened,Ticket Number,Edited By,Field / Event,Old Value,New Value,Edit Date,Ticket Owner,Ticket Origin,Ticket Open Date/time,Ticket Edit Date/time,Ticket Open date
0,"01/01/2023, 9:53 am",819951,Ankit,Ticket Owner,VOC Queue (Truebil),Ankit,"01/01/2023, 9:53 am",Vikas Gupta,VOC Queue (Truebil),2023-01-01 09:53:00,2023-01-01 09:53:00,2023-01-01
1,"20/01/2023, 6:14 pm",865408,Vikas Gupta,Dispositions,Repair in process at WS,Part ordered,"21/01/2023, 6:39 pm",Vikas Gupta,VOC Queue (Truebil),2023-01-20 18:14:00,2023-01-21 18:39:00,2023-01-20
2,"07/02/2023, 2:19 pm",914660,Jagan Sabavath,Dispositions,Pending with Refurb Team,Customer visit scheduled and WS_assigned,"07/02/2023, 3:15 pm",Jagan Sabavath,VOC Queue (Truebil),2023-02-07 14:19:00,2023-02-07 15:15:00,2023-02-07

In [37]:
data.to_csv('bcm_frt.csv', index = False)

In [38]:
data.columns

Index(['Date/Time Opened', 'Ticket Number', 'Edited By', 'Field / Event',
       'Old Value', 'New Value', 'Edit Date', 'Ticket Owner', 'Ticket Origin',
       'Ticket Open Date/time', 'Ticket Edit Date/time', 'Ticket Open date'],
      dtype='object')